:root {
    --blue-bg: #89CFF0;
    --pad: 48px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
}

.sidebar {
    grid-row: 1 / span 2;
    background-color: var(--blue-bg);
    padding: var(--pad);
    color: #FFF;
}

.sidebar h1 {
    margin-bottom: 48px;
}

.sidebar .icon-container {
    display: flex;
    gap: 12px;
}

ul {
    list-style-type: none;
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: repeat(5, 1fr) 3fr repeat(3, 1fr);
}

a:visited,
a:link {
    color: #FFF;
    text-decoration: none;
}

.header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px var(--pad);
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.content .projects {
    grid-row: 1 / span 2;
}

.content .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.searchbar-container {
    display: flex;
    width: 60%;
    gap: 24px;
    padding-right: var(--pad);
}

.row:nth-child(1) button {
    border: none;
    background-color: white;
    font-size: 18px;
}

.searchbar-container #searchbar {
    background-color: #D3D3D3;
    border: none;
    border-radius: 20px;
    width: 100%;
    font-size: 18px;
    padding: 6px;
}

.user-links {
    display: flex;
    align-items: center;
    gap: 24px;
}

.user-links img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
